* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px; /*  garantir que o conteúdo não fique atrás do menu */

}


.container {
    width: 80%;
    max-width: 1000px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.quiz-section {
    text-align: center;
}

.quiz-section h1 {
    font-size: 3rem;
    color: #014d14;
    margin-bottom: 20px;
}

.quiz-section p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

.quiz-options {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.quiz-option {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.quiz-option i {
    font-size: 3rem;
    color: #014d14;
    margin-bottom: 15px;
}

.quiz-option h2 {
    font-size: 1.8rem;
    color: #014d14;
    margin-bottom: 10px;
}

.quiz-option p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.quiz-option button {
    padding: 10px 20px;
    background-color: #014d14;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.quiz-option button:hover {
    background-color: #0ab234;
}

